

            <div class="footer">
                <div class="pull-right">
                    <!--Add a URL here-->
                    Powered by <strong>Hexo</strong> Free.
                </div>
                <div>
                    <strong>CGSB GenCore</strong> NYUAD &copy; 2015-2016
                </div>
            </div>
