<% layout('boilerplate') -%>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="http://10.230.9.182/<%= config.get('user') %>/static/jbrowse/index.html"></iframe>
</div>
