<% layout('boilerplate') -%>
<h1>Samples!</h1>

<table>
<% 
var samples = config.get('samples');
for(var i=0; i < samples.length; i++) { %>
   <tr>
     <td><%= samples[i] %>_read1_fastqc.html</td>
     <td><%= samples[i] %>_read2_fastqc.html</td>
   </tr>
<% } %>
<table>
